<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="UTF-8">
    <title>Local RAG Assistant</title>

    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

<div class="container">

    <h1>🤖 Local RAG Assistant</h1>

    <div id="chat-box">
            <div class="avatar">
        🤖
    </div>

    <div class="bubble">

        Merhaba 👋<br><br>

        Ben Local RAG Assistant.

        Belgeleriniz hakkında soru sorabilirsiniz.
    </div>

    <div class="input-area">

        <input
            id="question"
            type="text"
            placeholder="Bir soru yaz..."
        >

        <button id="send-btn">
            Gönder
        </button>

    </div>

</div>

<script src="/static/script.js"></script>

</body>
</html>