<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="UTF-8">
    <title>Local RAG Assistant</title>

    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    
<div class="container">

    <aside class="sidebar">

        <h2>🤖 Local RAG</h2>

        <button id="new-chat">
            + New Chat
        </button>

        <hr>

        <h3>Documents</h3>
         <div id="selected-file">
                All Documents
        </div>
        <div id="document-list">

            <div class="document">
                📄 bellek.pdf
            </div>
           
        </div>

        <hr>

        <label class="upload-label">

    📤 Upload PDF

    <input
        type="file"
        id="pdf-upload"
        accept=".pdf"
        hidden
        >

        </label>

    </aside>

    <main class="chat-area">

        <div id="chat-box">

            <div class="message bot">

                <div class="avatar">
                    🤖
                </div>

                <div class="bubble">

                    Merhaba 👋<br><br>

                    Belgeleriniz hakkında soru sorabilirsiniz.

                </div>

            </div>

        </div>

        <div class="input-area">

            <input
                id="question"
                placeholder="Bir soru yaz..."
            >

            <button id="send-btn">

                Gönder

            </button>

        </div>

    </main>

</div>

<script src="/static/script.js"></script>

</body>
</html>